@use 'base';

@font-face {
  font-family: 'Impact';
  src: url(../assets/impact.ttf) format('truetype');
}

.app {
  --border-radius: 12px;
  --margin-sides: 40px;

  place-self: center;
  //   height: 600px;
  width: 600px;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.header {
  background: var(--gradient);
  height: 100px;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  padding-inline: var(--margin-sides);

  display: flex;
  align-items: center;
  flex-shrink: 0;

  &-logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-logo__img {
    width: 60px;
  }

  &-logo__title {
    color: var(--color-text-light);
    font-family: var(--font-montserrat);
    font-size: var(--text-lg);
    font-weight: 700;
    letter-spacing: -1px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: var(--margin-sides);
  gap: var(--margin-sides);
}

.form {
  --input-padding: 7px 12px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;

  font-size: var(--text-sm);

  &-input {
    width: 100%;
    padding: var(--input-padding);
    border: 1px solid #999999;
    border-radius: 5px;
  }

  &-input__submit {
    grid-column: 1 / 3;
    width: 100%;
    background: var(--gradient);
    border-radius: 5px;
    padding: var(--input-padding);
    cursor: pointer;

    color: var(--color-text-light);
  }
}

.meme {
  &__wrapper {
    position: relative;
    width: calc(100% - var(--margin-sides) * 2);
    margin: 0 auto;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__text {
    --text-offset: 12px;

    position: absolute;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);

    text-transform: uppercase;
    text-align: center;
    font-size: var(--text-xxl);
    font-family: 'Impact';
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
    color: white;
  }

  &__text.top {
    top: var(--text-offset);
  }

  &__text.bottom {
    bottom: var(--text-offset);
  }
}
